* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

.h-2 {
    display: flex;
    justify-content: center;
    font-size: 14vh !important;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 33px;
    color: #000 !important;
}

.container {
    background-image: url("../img/pexels-karolina-grabowska-4195329.jpg");
}

.paragraph {
    display: flex;
    justify-content: center;
    font-size: 2vh;
    color: #fff;
    width: 70%;
    text-transform: uppercase;
}

.content {
    display: flex;
    backdrop-filter: blur(10px);
    width: 14%;
    height: 54%;
    margin-left: 53px;
    padding: 2rem;
    box-shadow: 5px 5px 15px #000;
    font-weight: 100;
    text-transform: uppercase;
    border-radius: 10px;
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 1px !important;
    letter-spacing: 1px;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(40deg, #B3B1B3 14%, #FFFFFF 64%);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(40deg, #8C8A8C 14%, #FFFFFF 64%);
}

::-webkit-scrollbar-track {
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}