* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

.main {
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
}

.h-1 {
    font-size: 6rem;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 100px;
}

::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(40deg, #B3B1B3 14%, #FFFFFF 64%);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(40deg, #8C8A8C 14%, #FFFFFF 64%);
}

::-webkit-scrollbar-track {
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}