@media only screen and (max-width: 800px) {
    .picture {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 50%;
    }

    .h-1 {
        display: none !important;
    }

    .text {
        display: flow-root;
    }

    .text_ {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 110vh;
    }

    .subtitile {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        color: #ccc;
        text-transform: uppercase;
        margin-bottom: 13px;
    }

    .paragraph {
        width: 92%;
        margin-left: 1%;
        font-weight: 100;
        text-transform: uppercase;
        text-align: end;
        font-size: 1rem;
        font-weight: 100;
    }

    .paragraph_ {
        justify-content: center;
        font-size: 2vh;
        width: 85% !important;
    }


    .content-img {
        display: flex;
        backdrop-filter: blur(10px);
        width: 2vw;
        height: 48vh;
        margin-left: 53px;
        padding: 2rem;
        box-shadow: 5px 5px 15px #000;
        font-weight: 100;
        text-transform: uppercase;
    }

    .h-3 {
        display: flex;
        margin-left: 7%;
        text-transform: uppercase;
        text-align: -webkit-left;
        font-size: 1rem;
        font-weight: 100;
    }


    .skills {
        display: flex;
        justify-content: space-evenly;
        height: 8vh;
    }

    .button-86 {
        margin-top: 17px;
    }

    .span {
        display: flex;
        justify-content: center;
        font-size: 1rem;
        margin: 0% !important;
    }

    .button-86 {
        margin-bottom: 8px;

    }

    .h2 {
        margin: 0% !important;
    }

    .setup {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 99%;
        border-radius: 10px;
    }

    .all {
        display: flex;
        justify-content: center;
        font-size: 2em !important;
        margin-left: 10px;
        text-transform: uppercase;
    }
}